@charset "utf-8";

/* Header(P162) */
header{
    background: url(../images/work_01.jpg) no-repeat left center/cover;
    background-size: contain;
    background-color: #ffffff;
    background-position: center;
}
/* Body */
.innerWrap_detailWorks{
    width: 60vw;
    /* margin: autoで端に余白が取られる */
    margin: 0 auto;
}
h2{
    text-align: left;
    font-size: 2.0vw;
    margin: 60px 0 40px;
}
.companyName{
    font-size: 1.3vw;
    font-weight: bold;
    margin-bottom: 15px;
}
.basicInfo{
    font-size: 1.05vw;
    line-height: 1.2em;
}
.activity{
    font-size: 1.1vw;
    line-height: 1.5em;
}
.reelArea{
    position: relative;
}
video{
    position: absolute;
    width: 26.8vw;
}
img{
    width: 59vw;
    margin-bottom: 70px;
}
img .reelImage{
    position: absolute;
}
.callMessage{
    font-size: 1.6vw;
}
.qrcodeArea{
    width: 15vw;
    margin: 50px auto 0; 
}
.qrcode{
    width: 15vw;
}
